<a href="https://colab.research.google.com/github/Shishir-Sachan/python_learning/blob/main/Aug24_Python_2_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
2+2

4

In [ ]:
class Car:
  def __init__(self, name, mileage, age):
    self.name = name
    self.age = age
    self.mileage = mileage

  def __str__(self):
    return f"{self.name} -> {self.mileage}"

  def __add__(self, other):
    return self.mileage + other.mileage

  def __lt__(self, other):
    return self.mileage < other.mileage

In [ ]:
c1 = Car("Nexon", 12, 1)
c2 = Car("Audi Q3", 15, 2)

In [ ]:
c1 + c2

27

In [ ]:
print(id(c1), id(c2))

135927848811968 135927848809136

In [ ]:
print(c1)

Nexon -> 12

In [ ]:
print(c2)

Audi Q3 -> 15

In [ ]:
c1 + c2

27

In [ ]:
c1 < c2

True

In [ ]:
dir(c1)

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'mileage',
 'name']

In [ ]:
c3 = Car("Creta", 14)

In [ ]:
x = c1 + c2 + c3
x.mileage

41

In [ ]:
class Student:
  def __init__(self, age):
    self.age = age
    #print("Inside class = ", id(self))

  def ssss(self, other):
    return self.age + other.age

In [ ]:
s1 = Student(20)
s2 = Student(40)
print(s1.ssss(s2))

60

In [ ]:
class Student2:
  def __init__(self, age):
    self.age = age
    #print("Inside class = ", id(self))

  def __add__(self, other):
    return self.age + other.age

In [ ]:
s1 = Student2(20)
s2 = Student2(40)
s1 + s2

60

In [ ]:
s1 = Student("A")
print("Outside class", id(s1))

Inside class =  135927848806352
Outside class 135927848806352

In [ ]:
s2 = Student("B")
print("Outside class", id(s2))

Inside class =  135927227895184
Outside class 135927227895184

In [ ]:
2 + 3

5

In [ ]:
"HE" + "JJ"

'HEJJ'

In [ ]:
class A:
  def __init__(self, a):
    self.a = a
  def __add__(self, b):
    if isinstance(b, int):
      return A(self.a + b)
    return A(self.a + b.a)  # self.a + b.a = 3
  def __str__(self):
    return f"{self.a}"


one = A(1)
two = A(2)

print(one + two + 100)  # one + two = A(3)

103

In [ ]:
class SchoolMember:
  def __init__(self, name):
    self.name = name

In [ ]:
class Student(SchoolMember):
  def __init__(self, name, grade):
    super().__init__(name)
    self.grade = grade

In [ ]:
s1 = Student("Prem", 25)

In [ ]:
print(s1.grade)

25

In [ ]:
print(s1.name)

Prem

In [ ]:
class A:
    def do_something(self):
        print("I do something!", end=" ")

class B(A):
    def do_something(self):
        super().do_something()
        print("I also do something!", end=" ")

b = B()
b.do_something()

I do something! I also do something!

In [ ]:
class BankAccount:
    def __init__(self, balance):
        self.balance = balance

    def withdrawl(self, amount):
        self.balance -= amount

    def deposit(self, amount):
        self.balance += amount

In [ ]:
a = BankAccount(10000)

In [ ]:
a.withdrawl(500)
print(a.balance)

9500

In [ ]:
a.deposit(2000)
print(a.balance)

11500

In [ ]:
a.balance = 324321424243532453245324234524324523

In [ ]:
class BankAccount:
    def __init__(self, balance):
      # initializing private property
        self.__balance = balance

    def withdrawl(self, amount):
        self.__balance -= amount

    def deposit(self, amount):
        self.__balance += amount

    def checkBalance(self):
      return self.__balance

In [ ]:
a = BankAccount(10000)

In [ ]:
print(a.checkBalance())

10000

In [ ]:
a.__balance

AttributeError: 'BankAccount' object has no attribute '__balance'

In [ ]:
a.__balance = 20

In [ ]:
print(a.__balance)
print(a.checkBalance())

20
10000

In [ ]:
class A:
  def __init__(self, a):
    self.a = a

class B:
  def __init__(self, b):
    self.b = b

In [ ]:
class C(A, B):
  def __init__(self, a, b, c):
    A.__init__(self, a)
    B.__init__(self, b)
    self.c = c

In [ ]:
c = C(1, 2, 3)

In [ ]:
print(c.a, c.b, c.c)

1 2 3

In [ ]:
class Animal:
    def __init__(self, species, age, name):
        # write the method
        self.species = species
        self.age = age
        self.name = name

    def __str__(self):
        return f"Name: {self.name}, Species: {self.species}, Age: {self.age}"

# Compelte the class
class Bird(Animal):
    def __init__(self, species, age, name, can_fly):
        # complete the method
        super().__init__(species, age, name)
        self.can_fly = can_fly

    def __str__(self):
        # complete the method
        parent_data = super().__str__()
        fly = "Akshay"
        if(self.can_fly):
            fly = "Yes"
        else:
            fly = "No"
        return f"{parent_data}, Can Fly: {fly}"

class Zoo:
    def __init__(self):
        # complete the method
        self.animals = []

    def add_animal(self, animal):
        # complete the method
        self.animals.append(animal)

    def list_animals(self):
        # complete the method
        for animal in self.animals:
            print(animal)

In [ ]:
class A:
  def __init__(self, a):
    self.a = a

  def __add__(self, other):
    if isinstance(other, int) or isinstance(other, float):
      return self.a + other
    return self.a + other.a

In [ ]:
a1 = A(5)
a2 = A(10)

In [ ]:
a1 + a2 + 100

115

In [ ]:
print(type(a1))
print(type(a2))
print(type(a1 + a2))

<class '__main__.A'>
<class '__main__.A'>
<class 'int'>

In [ ]:
a1 + 25

30