<a href="https://colab.research.google.com/github/Shishir-Sachan/python_learning/blob/main/Aug24_Python_2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
1 + 2 + 3 + 4 + 5

15

In [ ]:
class Human:
  # properties / variables
  # functions
  pass

In [ ]:
utkarsh = Human()

In [ ]:
type(utkarsh)

__main__.Human

In [ ]:
class Student:
  # properties / variables
  # functions
  pass

In [ ]:
isinstance(utkarsh, Student)

False

In [ ]:
class Animal:
  legs = 2
  def canWalk():
    pass

In [ ]:
class Mammal(Animal):
  pass

In [ ]:
class Student:
  def hello(self):
    print("Hello!")
    print(id(self))

In [ ]:
Shalini = Student()

In [ ]:
Shalini.hello()
# hello(Shalini)
print(id(Shalini))

Hello!
133784624459264
133784624459264

In [ ]:
class Student:
  def __init__(self, n, a):
    self.name = n
    self.age = a

In [ ]:
s1 = Student("Amrit", 26) # Object creation

In [ ]:
print(s1.name)
print(s1.age)

Amrit
26

In [ ]:
s2 = s1

In [ ]:
print(s2.name, s2.age)

Amrit 26

In [ ]:
aefaweaw = 51
print(aefaweaw)

51

In [ ]:
class Student:
  def __init__(self, n, a):
    self.name = n
    self.age = a

In [ ]:
s1 = Student("A", 25)
# __init__(s1, "A", 25)

In [ ]:
print(s1.name, s1.age)

A 25

In [ ]:
s1.height = 5
print(s1.height)

5

In [ ]:
class Student:
  def __init__(self, n, a):
    self.name = n
    self.age = a
  def __init__(self, b):
    self.gender = b

S1= Student("A", 1)
# __init__(S1, "A", 1)
S2= Student("M")

TypeError: Student.__init__() takes 2 positional arguments but 3 were given

In [ ]:
# Lifecycle of an object

# __init__
#
#
#
# __del__

In [ ]:
class Student:
  hobby = "Coding"  # class level variable

  def __init__(self, n, a):
    self.name = n   # instance level variabel
    self.age = a

In [ ]:
s1 = Student("Saurabh", 30)

In [ ]:
s2 = Student("Mahesh", 29)

In [ ]:
print(s1.name, s1.age, s1.hobby)

Saurabh 30 Coding

In [ ]:
print(s2.name, s2.age, s2.hobby)

Mahesh 29 Coding

In [ ]:
s1.hobby = "Watch Movies"

In [ ]:
print(s1.hobby)

Watch Movies

In [ ]:
print(s2.hobby)

Coding

In [ ]:
a = 10
id(a)

133785054757392

In [ ]:
a = 20
id(a)

133785054757712

In [ ]:
class Student:
  games = ["Coding", "Cricket"]  # class level variable

  def __init__(self, n, a):
    self.name = n   # instance level variabel
    self.age = a

In [ ]:
s1 = Student("Srinivas", 27)
s2 = Student("Dipak", 22)

In [ ]:
s1.games.append("Chess")

In [ ]:
print(s1.games)

['Coding', 'Cricket', 'Chess']

In [ ]:
print(s2.games)

['Coding', 'Cricket', 'Chess']

In [ ]:
class Student:
    name = "Bipin"
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def hello(self):
      print(f"Hello {self.name}")

    def printClassVariable(self):
      print(Student.name) # to print class level variable use ClassName.VariableName

bipin = Student("Ayush", 20)

bipin.hello()
# hello(bipin)

bipin.printClassV

Hello Ayush

In [ ]:
class Calculator:
    def __init__(self, number):
        self.number = number

    def multiply_by_two(self):
        return self.number * 2

calc = Calculator(3)
print(calc.multiply_by_two())

6